<?xml version="1.0" encoding="UTF-8"?>
<configdata>
	<baseurl>/</baseurl>
	<render_exceptions>0</render_exceptions>
	<database>
		<adapter>Pdo_Pgsql</adapter>
		<params>
			<host>localhost</host>
			<username>dp</username>
			<password>dp</password>
			<dbname>dp</dbname>
		</params>
	</database>
</configdata>