<?xml version="1.0" encoding="UTF-8"?>
<configdata>
	<baseUrl>/</baseUrl>
	<timezone>Europe/Bratislava</timezone>
	<language>sk</language>
	<database>
		<adapter>Pdo_Mysql</adapter>
		<params>
			<host>localhost</host>
			<username>root</username>
			<password></password>
			<dbname>dp</dbname>
		</params>
	</database>
	<email>
		<from>millenium@franto.sk</from>
		<fromName>Millenium Projekt</fromName>
		<smtp>
			<host>mail.ynet.sk</host>
		</smtp>
	</email>
	<registration>
		<reqAcceptation>0</reqAcceptation>
		<reqVerification>0</reqVerification>
		<emailVerification>
			<subject>Verifikácia Vášho účtu</subject>
			<body>Dobrý deň,
na adresu Vašej e-mailovej adresy bol registrovaný nový používateľský účet v Millenium systéme s názvom %Username%. 

Pre potvredenie tejto registrácie prosím otvorte nasledovnú linku vo Vašom obľúbenom prehliadači:
http://millenium.franto.sk/user/verify/id/%Id%/key/%VerificationKey%

Ak ste si neregistrovali žiadne konto na portáli milénium projektu, prosím považujte tento e-mail za bezpredmetný. Používateľské konto bez aktivácie bude v priebehu niekoľko hodín zrušené. 

S pozdravom, 
	
Administrátor systému Millenium projekt

-- 
Tento e-mail je automaticky generovaný systémom.
			</body>
		</emailVerification>
		<emailSuccess>
			<subject>Registrácia Vášho účtu</subject>
			<body>Dobrý deň,
			
Ďakujeme Vám za registráciu Vášho používateľkého účtu s názvom %Username% v Millenium systéme.

Prihlasovacie meno: %Username%.
Heslo: Ako ste vyplnili pri registrácií.


S pozdravom, 
	
Administrátor systému Millenium projekt

-- 
Tento e-mail je automaticky generovaný systémom.
			</body>
		</emailSuccess>
		<emailActivation>
			<subject>Aktivácia Váštho účtu</subject>
			<body>Dobrý deň,
na adresu Vašej e-mailovej adresy bol registrovaný nový používateľský účet v Millenium systéme s názvom %Username%. 

Pre potvredenie tejto registrácie prosím otvorte nasledovnú linku vo Vašom obľúbenom prehliadači:
http://millenium.franto.sk/user/verify/id/%Id%/key/%VerificationKey%

Ak ste si neregistrovali žiadne konto na portáli milénium projektu, prosím považujte tento e-mail za bezpredmetný. Používateľské konto bez aktivácie bude v priebehu niekoľko hodín zrušené. 

S pozdravom, 
	
Administrátor systému Millenium projekt

-- 
Tento e-mail je automaticky generovaný systémom.
			</body>
		</emailActivation>
	</registration>
	
	
</configdata>