@CHARSET "UTF-8";
/** 
Color scheme 
#FFA64F - Vyrazna (oranzova)
#B35A00 - Tmava (hneda)
#FFDFBF - Svetla
#FFC080 - Normal
*/ 

/* standard color */
body, html {
	margin: 0;
	padding: 0;
}
body {
	background-color: #808080; 
	text-align: center; 
	padding: 5px;
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
h1 {
	background-color: #B35A00;
	line-height: 70%; 
	margin-left: 10px; 
	margin-right: 10px; 
	margin-bottom: 13px;
	margin-top: 10px;
	font-size: 2em;
	
	
	color:#15428b;
	font:bold 27px tahoma,arial,verdana,sans-serif;
	padding:10px 3px 10px 5px;
	border:1px solid #99bbe8;
	line-height:25px;
	background:transparent url(../javascript/ext/resources/images/default/panel/white-top-bottom.gif) repeat-x 0 -1px;
}
h1 span {
	font-size: 50%; 
	font-weight: normal;
	color: #15428b;
	font-weight: bold;
}
h1 a {
	text-decoration: none;
	font-size: 100%;
	color: #15428b;
}
h2 {
	padding-top: 0.9em;
	padding-bottom: 0.2em;
	margin: 0;
	font:bold 23px tahoma,arial,verdana,sans-serif;
	color:#15428b;
}
a {
	color: #5F2323;
	text-decoration: none;
	padding: 0;
}
p {
	margin: 11px 0 7px 0;
	padding: 0;
}
textarea, input {
	padding: 1px 3px 0px 3px;
}
#mainBox {
	border: 1px solid black; 
	margin: 0 auto; 
	/* width: 922px; */
	max-width: 1024px;
	/* background-color: #FFF7EF; */
	background-color: white;
	text-align: left;
}
#mainMenuLeft {
	float: left; 
	width: 240px;
}
#mainMenuRight {
	/* width: 730px; */ 
	margin-left: 245px; 
	padding-bottom: 30px;
}
#mainMenuRight2 {
	padding-left: 0px;
	padding-right: 10px;
	margin-top: 0px;
}
#mainFooter {
	 text-align: right; 
	 margin-top: 10px; 
	 border-top: 1px dashed silver; 
	 padding: 2px 10px 2px 10px;
	 margin-right: 10px;
	 margin-left: 10px;
	 margin-bottom: 10px;
	 clear: both;
}
#mainFooter2 {
	 color: #808080; 
	 font-size: 12px; 
	 text-align: right;
}

/**
 * Navigation menu
 */
#mainNavigation {
	margin: 10px 0 0 0;
	padding: 0;
	background-color: #FFDFBF ;
	border: 1px solid #B35A00;
	font-size: 95%;
}
#mainNavigation:after {
    content: ".";
    display: block;
    height: 0;
    clear: right;
    visibility: hidden;
}
#mainNavigation li {
	float: left;
	display: block;
	position: relative; 
	color: white;
	
}
#mainNavigation li a {
	display: block;
	background-color: #FFDFBF;
	margin-right: 0px;
	color: #B35A00;
	text-decoration: none;
	padding: 0px 10px 0px 10px;
	margin: 1px;
}
#mainNavigation li a:hover {
	/* background-color: #FFA64F; */
	color: black;
}
#mainNavigation li.rightNav  {
	float: right;
}
#mainNavigation li.rightNav a {
	margin-right: 0px;
}
#mainNavigation li a.dirItem {
	background-repeat: no-repeat;
}

#mainNavigation li ul {
	display: none;
	margin: 0;
	padding: 0;	
	width: 100%;
	position: absolute;
	border: 1px solid #B35A00;
	border-top: 0;;
	padding: 0;
	margin-top: 1px;
	z-index: 100;
	background-color: #FFDFBF;
	border-top: 1px dashed #B35A00;
}
#mainNavigation li:hover ul {
	display: block;
}
#mainNavigation li ul li {
	float: none;
	display: block;
}
#mainNavigation li ul li a {
	border-top: 0px;
	margin: 0;
	padding-top: 1px;
	padding-bottom: 2px;
}
#mainNavigation li ul li a:hover {
	border-top: 0px;
	color: black;
	/* background-color: #FF952F; */
}


/**
 * Custom definitions - LEFT MENU 
 */ 
.menuBox {
	margin: 0 10px 0 10px;
	margin-bottom: 1em;
	background-color: #FFDFBF;
}
.menuBox .title {
	display: block; 
	border: 1px solid #B35A00;
	border-bottom: 0px; 
	text-align: center; 
	padding: 1px; 
	background-color: #B35A00; 
	color: #FFDFBF; 
	font-weight: bold;
}
.menuBox .row {
	display: block; 
	text-align: left;  
	border: 1px solid #B35A00; 
	padding: 1px; 
	padding-left: 10px; 
	text-decoration: none;  
	border-top: 0;
}
.menuBox .divBox {
	padding: 5px;
}

/**
 * Standard table
 */
table.std {
  border-collapse: collapse;
  border: 1px solid #99B7DF;
  width: 100%;
  margin-top: 10px;
} 
table.std th {
 	background-color: #CDDEF3;
 	color: #15428B;
 	text-align: left;
 	font-weight: bold;
 	padding: 2px 5px 1px 5px;
 	margin: 0;
}
table.std td {
  	border: 1px solid #99B7DF;
  	padding: 2px 5px 1px 5px;
}

/**
 * A button cls
 */
a.btn {
	border: 1px solid #99B7DF;
	padding: 1px 8px 1px 8px;
	background-color: #CDDEF3;
	color: #15428B;
	font-weight: bold;
	text-decoration: none;
}
a.btn:hover {
	border-color: #15428B;
}


/**
 * Listovanie kategorii
 */
#category-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
#category-list li {
	display: block;
	padding: 1px 5px 1px 5px;
	border: 1px solid silver;
	background-color: #FFDFBF;
	margin-top:4px;
	margin-bottom: 4px;
}
#category-list li:hover {
	border: 1px solid black;
}
#category-list ul {
}

/* Ext JS fix pre kategorie */
.subor .x-tree-node-icon{background-image:url(../javascript/ext/resources/images/default/tree/folder.gif);}
.x-tree-node-expanded .x-tree-node-icon{background-image:url(../javascript/ext/resources/images/default/tree/folder-open.gif);}
.x-menu a.x-menu-item { text-align: left; }
.x-combo-list-item { text-align: left; }
#toolbar_menu { border: 1px solid #99BBE8; border-bottom: 0; }

.buttonRow {
	padding-top: 12px;
}

ul.flashMessages {
	margin: 10px 0 15px 0;
	color: green;
}

.addButton {
  background-image:url('../images/add.gif') !important;
}

.roletable {
	line-height: 18px;
}
form.std dt {
	font-weight: bold;
	margin-top: 9px;
	font-size: 110%;
}
form.std dd {
	margin: 0;
	padding: 0;
}
form.std textarea.mceEditor {
	width: 100%;	
	font-size: 30px;
}
dl.zend_form {
	margin: 0;
	padding: 0;
}
